.sliderimg {
  margin: -2em;
  padding: 1em;
  background-color: #dee2e6;
  text-align: center;
  &.recommendation {
    margin-top: 2em;
    margin-bottom: -5em;
  }
  &.all-product-recommendation {
    margin-bottom: 1em;
  }
}
img {
  &:hover {
    cursor: pointer;
  }
}

// https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
