DB_HOST = localhost
DB_USER = labber
DB_PASS = labber
DB_NAME = fernicherdb_ts
DB_PORT = 5432
DB_SYNCHRONIZE = true
CLOUD_NAME = "Sign up and get your details here: https://cloudinary.com/documentation/how_to_integrate_cloudinary"
API_KEY = "Sign up and get your details here: https://cloudinary.com/documentation/how_to_integrate_cloudinary"
API_SECRET = "Sign up and get your details here: https://cloudinary.com/documentation/how_to_integrate_cloudinary"
SENDGRID_API_KEY = "Sign up and get your details here: https://signup.sendgrid.com/"
SENDGRID_SENDER = "Sign in SendGrid (https://app.sendgrid.com/login), and go to https://app.sendgrid.com/settings/sender_auth, then "Verify a Single Sender" to add new sender
FRONTEND_URL = http://localhost:4200